<#@ output extension=".cs" #>
<#
  string itemType;
  string className;
  string keyName;

  className = "AttachmentCollection";
  itemType = "Attachment";
  keyName = "FileName";
#>
<#@ include file="Collection.ttinclude" #>
