<#@ output extension=".cs" #>
<#
  string className;
  string[] names;
  string[] types;

  className = "Category";
  names = new string[0];
  types = new string[0];
#>
<#@ include file="LookupItem.ttinclude" #>
