<#@ output extension=".cs" #>
<#
    string itemType;
    string className;
    string keyName;

    className = "CustomFieldCollection";
    itemType = "CustomField";
    keyName = "Name";
    #>
<#@ include file="Collection.ttinclude" #>
