<#@ output extension=".cs" #>
<#
  string itemType;
  string className;
  string keyName;

  className = "NoteCollection";
  itemType = "Note";
  keyName = null;
#>
<#@ include file="Collection.ttinclude" #>
