<#@ output extension=".cs" #>
<#
    string itemType;
    string className;
    string keyName;

    className = "ProjectVersionCollection";
    itemType = "ProjectVersion";
    keyName = "Name";
    #>
<#@ include file="Collection.ttinclude" #>
